  
body {
  background-color: rgb(0, 0, 0);
}

h1 {
  margin: 0px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  margin: 0px;
  color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}


/* hoofd afbeeilding */


#mainimg {
  position: relative;
}


/* collectie en reviews css */


.collectie-en-reviews {
  background-color: rgb(54, 54, 54);
}


/* over lam tekst */


* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 2em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row h1 {
  padding: 1em 0em 0em 1em;
}


/* video css */


.video {
  display: block;
  margin: 0 auto;  
  /* background-color: 	rgb(155, 111, 83); */
  width: 96%
}


/* scrollbar css */


::-webkit-scrollbar {
  display: none;
}


/* navigatie menu */


.logo {
  width: 150px;
  padding: 1em;
}

.topnav {
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.721);
  width: 99%;
}

.topnav #myLinks {
  display: none;
}

#myLinks a:hover {
  background-color: #ddd;
}

.topnav a {
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  font-size: 1.5em;
  display: flex;
  font-family: sans-serif
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  color: black;
}

.active {
  color: white;
}


/* navigatie bar animation */


.container {
  cursor: pointer;
  float: right;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.918);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


/* einde navigatie menu */

/* 

tekst blok

.middle {
  position: relative;
  text-align: left;
  color: white;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 5em 3em 5em 2em;
  background-color: rgba(0, 0, 0, 0.836);
  clip-path: rectangle(0 0, 100% 0%, 87% 100%, 0% 100%);
  font-size: 1.2em;
} */