@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');


body {
  background-color: rgb(0, 0, 0);
}
h1 {
  margin: 0px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p {
  margin: 0px;
  color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}
a {
  font-family: 'Montserrat', sans-serif;
}


/* ___________________ hoofd afbeeilding ___________________ */


#mainimg {
  position: relative;
}


/* ___________________ tekst blok ___________________ */


.middle {
	position: relative;
	color: white;
}
.text p {
	text-align: center;
}
.text {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 3vw 4vw 0vw 4vw;
	margin-right: 2vw;
	background-color: rgba(0, 0, 0, 0.836);
	font-size: 1.25em;
	text-align: center;
}
h2{
	text-align: center;
	padding-top: 1vw;	
}
.button {
	/* ______________ button looks ______________ */

	text-align: center;
	text-decoration: none;
	font-weight: 600;
	font-size: 2vw;
	color: black;
	font-family: 'Montserrat', sans-serif;;
	background-color: white;

	/* ______________ button position ______________ */

	top: 56%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2vw 2vw 2vw 2vw;
	position: absolute;
	width: 48.04vw;
}
.button:hover {
	color: rgb(255, 255, 255);
	background-color: black;
}


/* _________________________ collectie en reviews css ______________________ */


.collectie-en-reviews {
  background-color: rgb(0, 0, 0);
}

/* ___________________________ collection  ____________________________________ */


* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text1 {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px #ffffff;
  text-decoration: overline;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* ___________________ over lam tekst ___________________ */


* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 50%;
  padding: 2em;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.row h1 {
  padding: 1em 0em 0em 1em;
}


/* ___________________ video css ___________________ */


.video {
  display: block;
  margin: 0 auto;  
  background-color: 	rgb(155, 111, 83);
  width: 96%
}


/* ___________________ scrollbar css ___________________ */


::-webkit-scrollbar {
  display: none;
}


/* ___________________ navigatie menu ___________________ */


.logo {
  width: 150px;
  padding: 1em;
}


.topnav {
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.721);
  width: 100%;
}


.topnav #myLinks {
  display: none;
}


#myLinks a:hover {
  background-color: #ddd;
}


.topnav a {
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  font-size: 1.5em;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}


.topnav a.icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0vw 1vw 0vw 0vw;
  margin: 0;
  margin-top: -1vw;
}


.topnav a:hover {
  color: black;
}


/* ___________________ navigatie bar animation ___________________ */


.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.918);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


/* ___________________ footer ___________________ */


footer p {
  padding: 3vw 0vw 3vw 3vw;
  font-weight: bold;
  margin: 0;
}


/* _____________________ reviews ___________________ */


html {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background: rgb(0, 0, 0);
	color: rgb(0, 0, 0)
}

body {
	margin:  auto;
	background: #000000;
	height: 100vh;
}

h3 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 1.4em;
	line-height: 1.4em;
	color: rgb(255, 255, 255)
}

.container {
	box-sizing: content-box;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.indentity {
	margin: 0!important
}

figure.testimonial {
	position: relative;
	overflow: hidden;
	margin: 10px 1%;
	padding: 0 20px;
	text-align: left;
	box-shadow: none !important;
}

figure.testimonial * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.testimonial img {
	max-width: 100%;
	vertical-align: middle;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	margin: 40px 0 0 10px;
}

figure.testimonial blockquote {
	background-color: rgba(255, 255, 255, 0.74);
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	margin: 0;
	padding: 25px 50px 30px;
	position: relative;
}

figure.testimonial blockquote:before, figure.testimonial blockquote:after {
	content: "\201C";
	position: absolute;
	color: #000000;
	font-size: 50px;
	font-style: normal;
}

figure.testimonial blockquote:before {
	top: 25px;
	left: 20px;
}

figure.testimonial blockquote:after {
	content: "\201D";
	right: 20px;
	bottom: 0;
}

figure.testimonial .btn {
	top: 100%;
	width: 0;
	height: 0;
	border-left: 0 solid transparent;
	border-right: 25px solid transparent;
	border-top: 25px solid rgb(255, 255, 255);
	margin: 0;
	position: absolute;
}

figure.testimonial .peopl {
	position: absolute;
	bottom: 45px;
	padding: 0 10px 0 120px;
	margin: 0;
	color: #ffffff;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}

figure.testimonial .peopl h3 {
	opacity: 0.9;
	margin: 0;
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.slick-track:before, .slick-track:after {
	display: table;
	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-btn.slick-hidden {
	display: none;
}

.slick-prev, .slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 40%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
	color: transparent;
	outline: none;
	background: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
	opacity: 1;
}

.slick-prev:before, .slick-next:before {
	font-family: "FontAwesome";
	font-size: 40px;
	line-height: 1;
	opacity: .75;
	color: rgba(255, 255, 255, 0.733);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
	left: 40px;
}

.slick-prev:before {
	content: "";
}

.slick-next {
	right: 40px;
}

.slick-next:before {
	content: "";
}

/* ------------------------------------------------------------------------------ */
/*  I added this to make the left button invisible since it doesn't work anyway,  */
/*  you can remove it if you figure out how to make it functional                 */
/* ------------------------------------------------------------------------------ */

.slick-prev {
	opacity: 0%;
}

/* ------------------------------------ Back to Top button ------------------------------------------ */
#button {
	display: inline-block;
	background-color: #000000;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, 
	  opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
  }
  
  #button::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
  }
  
  #button:hover {
	cursor: pointer;
	background-color: rgba(31, 31, 31, 0.582);
  }

  #button:active {
	background-color: rgba(83, 83, 83, 0.712);
  }
  
  #button.show {
	opacity: 1;
	visibility: visible;
  }

  /* ------------------------------------ Quiz ------------------------------------------ */

  	body {
    	background-color: black;
  	}

	.bgclr {background-color: rgb(0, 0, 0); color: rgba(255, 255, 255, 0.76); font-weight: bold; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}


    .hidden {
        display: none;
    }
    
    .visible {
        display: block;
    }
    
